@import 'colors';

.about {
    background: $eweek-black;
    box-sizing: border-box;
    padding: 120px 50px;
    width: 100%;

    .text-container {
      padding-bottom: 50px;

      h1 {
        font: lighter 4em "Dust West";
        color: $eweek-yellow;
        text-align: center;
        margin: 25px 0;
      }
      a, p {
        color: $eweek-beige;
        font-size: 22px;
      }
      p {
        padding-right: 40px;
        padding-left: 40px;
      }
    }
  
    .committee {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
  
      .member {
        box-sizing: border-box;
        height: 26vw;
        padding: 20px;
        width: 25%;
  
        @media (max-width: 1024px) {
          height: 37vw;
          width: 33.333333%;
        }
  
        @media (max-width: 768px) {
          height: 55vw;
          width: 50%;
        }
  
        @media (max-width: 600px) {
          height: 100vw;
          width: 100%;
        }
  
        .content {
          background-size: cover;
          background-position: 50% 50%;
          height: 100%;
          position: relative;
          width: 100%;
  
          .info {
            background-color: rgba(0,0,0,0.7);
            bottom: 0;
            box-sizing: border-box;
            opacity: 0;
            padding: 12px;
            position: absolute;
            text-align: center;
            transition: opacity 0.3s;
            width: 100%;
            height: auto;
  
            color: white;
            font-family: 'Montserrat', sans-serif;
  
            h3 { font-size: 20px; }
            h5 { font-size: 15px; }
            p { font-size: 12px; }
          }
  
          &:hover {
            .info { opacity: 0.8; }
          }
        }
      }
    }
  }
  
  $container-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px
  );
  
  $grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
  );
  
  $narrow-container-widths: (
    sm: 520px,
    md: 700px,
    lg: 850px,
    xl: 990px 
  );
  
  .container {
    box-sizing: border-box;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
  
    @each $size, $width in $container-widths {
      $break: map-get($map: $grid-breakpoints, $key: $size);
      @media (min-width: $break) {
        max-width: $width;
      }
    }
  }
  
  .narrow-container {
    @each $size, $width in $narrow-container-widths {
      $break: map-get($map: $grid-breakpoints, $key: $size);
      @media (min-width: $break) {
        max-width: $width;
      }
    }
  }