html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: url('../assets/backdrop.jpg') center center / cover no-repeat fixed;

  font: 1.2em Montserrat;
}

@font-face {
  font-family: 'Dust West';
  src: url('../assets/fonts/Dust West.woff') format('woff');
}