@import 'colors';

.events {
  display: flex;

  background: $eweek-black;
  color: white;
  padding: 5vh 5vw;

  //@media (max-width: 600px) {
  //  flex-direction: column;
  //}

  .sidebar {
    display: flex;

    position: fixed;
    height: 75%;
    width: 15vw;

    .links {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      padding: 2vh 2vw 2vh 0;

      a {
        color: $eweek-pink;
        text-align: center;
        text-decoration: none;
      }
    }

    .dates {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;

      padding: 8vh 0;

      //@media (max-width: 600px) {
      //  flex-direction: row;
      //  flex-wrap: wrap;
      //  align-content: space-evenly;
      //
      //  padding: 2vh 0;
      //
      //  height: 10vh;
      //  min-width: 100%;
      //}

      .date {
        display: flex;
        justify-content: center;
        background-color: $eweek-yellow;

        border-radius: 50%;
        height: 1.5em;
        width: 1.5em;

        font-size: 1em;
        color: $eweek-black;
        line-height: 1.5em;
        text-align: center;
      }
    }
  }

  .list {
    margin-left: 20vw;
    width: 100%;

    .day {
      padding: 2% 0;

      h3 {
        font-size: 1.5em;
      }

      .event {
        margin: 2% 0;
        padding: 2%;
        border-radius: 25px;

        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $eweek-red;
        line-height: 3em;

        &:hover {

          .info {
            color: white;
            height: auto;

            .time, .location {
              height: min-content;
              display: flex;
            }
          }
        }

        img {
          background-color: $eweek-yellow;
          border-radius: 50%;
          height: 3em;
          width: 3em;
        }

        .info {
          color: $eweek-yellow;
          transition: color 1s;
          height: 3em;
          width: 80%;

          .name {
            font-size: 1em;
          }

          .time, .location {
            display: none;
          }
        }
      }
    }
  }
}