@import 'colors';

.events {
  padding: 15vh 3vw;

  display: flex;
  background: $eweek-black;

  color: white;

  @media (max-width: 760px) {
    padding: 10vh 3vw;

    align-items: center;
    flex-direction: column;
  }

  .sidebar {
    padding-top: 5vh;
    height: 35%;
    width: 25vw;

    position: fixed;

    @media (max-width: 760px) {
      height: 25vh;
      width: 80%;

      position: static;
    }

    .links {
      height: 100%;

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      font-size: 0.7em;

      @media (max-width: 760px) {
        align-items: center;
      }

      a {
        color: white;
        text-decoration: none;

        transition: transform 0.2s, text-shadow 0.2s;
        transform: translate(0, 0);
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

        &:hover {
          transform: translate(0, -1px);
          text-shadow: 0 4px 7px rgba(0, 0, 0, 0.95);
        }
      }
    }
  }

  .list {
    padding-left: 3vw;
    margin: 0 2vw 0 25vw;
    width: 100%;

    display: flex;
    flex-direction: column;

    @media (max-width: 760px) {
      padding: 0;
      margin: 5vh 0 0 0;
    }

    .day + .day {
      padding-top: 10vh;
    }

    .day {
      padding-top: 5vh;

      h3 {
        margin: 0;
        font: lighter 1.5em "Dust West";
        color: $eweek-yellow;

        @media (max-width: 760px) {
          text-align: center;
        }
      }

      .event {
        height: min-content;
        margin-top: 2vh;

        border-width: 1px;
        border-style: solid;
        border-color: $eweek-gray;

        display: flex;
        flex-direction: row;

        cursor: pointer;

        .details {
          width: 95%;

          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .title {
            padding: 2vw;

            display: flex;
            flex-direction: row;
            align-items: center;

            @media (max-width: 760px) {
              padding: 4vw;
            }

            .icon {
              display: flex;
              justify-content: center;
              align-items: center;

              background-color: $eweek-yellow;

              border-radius: 50%;
              height: 5vw;
              width: 5vw;

              @media (max-width: 760px) {
                height: 8vw;
                width: 8vw;
              }

              img {
                width: 70%;
              }
            }

            .name {
              padding-left: 3vw;
              font-size: 1.1em;

              @media (max-width: 760px) {
                font-size: 0.8em;
              }
            }
          }

          .info {
            padding: 0 2vw 2vw 10vw;

            @media (max-width: 760px) {
              padding: 0 4vw 4vw 15vw;
            }

            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .detail {
              font-size: 0.7em;

              @media (max-width: 760px) {
                font-size: 0.55em;
              }

              &:empty {
                display: none;
              }
            }

            .detail + .detail {
              padding-top: 1vh;
            }
          }
        }

        .arrow {
          height: 2%;
          width: 2%;
          padding: 2%;

          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          //transition: transform .5s;

          img {
            width: 70%;
          }

          &.up {
            transform: rotate(90deg);
          }

          &.down {
            transform: rotate(270deg);
          }
        }
      }
    }
  }
}

