@import 'colors';

nav#site-nav {
  height: 60px;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.0);
  z-index: 1000;
  position: fixed;
  transition: background-color .2s;

  &.filled {
    background-color: rgba(0, 0, 0, 0.8);
  }

  .logo {
    //margin-right: calc(100vw - 3em -);
    padding-left: 1vw;
    height: 3.5em;


    img {
      height: 100%;
    }
  }

  .menu-icon {
    display: none;
  }

  @media (max-width: 760px) {
    .logo {
      display: none;
    }

    .menu-icon {
      padding-left: 2vw;
      display: flex;
    }
  }

  .nav-links {
    display: flex;

    @media (max-width: 760px) {
      height: 100vh;
      width: 275px;
      overflow-y: scroll;

      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      background: $eweek-gray;

      position: fixed;
      top: 0;
      left: 0;

      transition: left 0.2s;

      &.closed {
        left: -275px;
      }
    }

    img {
      display: none;

      @media (max-width: 760px) {
        display: flex;
        width: 80%;
        padding: 8vh 0;

        &.close {
          align-items: center;
          padding: 0;
          height: 4vh;
          width: 4vw;

          position: absolute;
          top: 2vh;
          left: 235px;
        }
      }
    }

    a {
      margin-right: 3vw;
      color: white;
      text-decoration: none;
      font-size: 0.9em;

      transition: transform 0.2s, text-shadow 0.2s;
      transform: translate(0, 0);
      text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

      @media (max-width: 760px) {
        height: 2em;
        width: 80%;
        padding: 1vw;
        border-top: 1px solid white;

        text-align: center;
        font-size: 0.8em;
        line-height: 2em;
      }

      &:hover {
        transform: translate(0, -1px);
        text-shadow: 0 4px 7px rgba(0, 0, 0, 0.95);
      }

      &:nth-child(3) {
        display: none;
        @media (max-width: 760px) {
          display: block;
        }
      }

      @media (max-width: 760px) {
        &:last-child {
          margin-bottom: 25px;
          border-bottom: 1px solid white;
        }
      }
    }
  }
}